@model IEnumerable<HopeTherapy.Models.Day>
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Action", "Controller", FormMethod.Post))
{


    <html>
    <head>
    </head>
    <body>
        <center><h1>Calendar</h1></center>
        <table border="1" style="margin: 0px auto; text-align:center; vertical-align: middle" id="calendartable">
            <tr>
                <th class="not_mapped_style" style="text-align:center">
                    Sunday
                </th>
                <th class="not_mapped_style" style="text-align:center">
                    Monday
                </th>
                <th class="not_mapped_style" style="text-align:center">
                    Tuesday
                </th>
                <th class="not_mapped_style" style="text-align:center">
                    Wednesday
                </th>
                <th class="not_mapped_style" style="text-align:center">
                    Thursday
                </th>
                <th class="not_mapped_style" style="text-align:center">
                    Friday
                </th>
                <th class="not_mapped_style" style="text-align:center">
                    Saturday
                </th>
            </tr>
            <tr>
                
                @for (var i = 1; i < 8; i++)
                    {
                        <td>
                        @foreach (var Day in Model)
                        {

                            if (Day.dayNum() == i)
                            {
                                @Day.fname <span> </span> @Day.lname  <br />
                            }
                        }
                        </td>
                    }
                </tr>

</table>
    </body>
</html>
}

