@model IEnumerable<HopeTherapy.Models.Day>
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Action", "Controller", FormMethod.Post))
{


    <html>
    <head>
    </head>
    <body>
        <center><h1>Donor list</h1></center>
        <table border="1" style="margin: 0px auto;" id="Calendar">
            <tr>
                <th>
                    Sunday
                </th>
                <th>
                    Monday
                </th>
                <th>
                    Tuesday
                </th>
                <th>
                    Wednesday
                </th>
                <th>
                    Thursday
                </th>
                <th>
                    Friday
                </th>
                <th>
                    Saturday
                </th>
            </tr>
            @foreach (var Day in Model)
            {
                <tr>
                    @foreach (var weekday in Model)
                    {
                    <td>
                        @Day.fname @Day.lname
                    </td>
                    }
                </tr>
                        
                    }

        </table>
    </body>
</html>
}

