@model IEnumerable<HopeTherapy.Models.Day>
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Action", "Controller", FormMethod.Post))
{


    <html>
    <head>
        <style>
            textarea {
                width: 40%;
                height: 90px;
                padding: 12px 20px;
                box-sizing: border-box;
                border: 2px solid #555555;
                border-radius: 6px;
                background-color: white;
                font-size: 16px;
                resize: none;
            }
        </style>

        <style>
            .button {
                background-color: white;
                color: black;
                border: 2px solid #555555;
                border-radius: 6px;
                font-size: 24px;
                padding: 2px 8px;
            }

                .button:hover {
                    background-color: #555555;
                    color: white;
                }
        </style>

        <style>
            input[type=text] {
                height: 30px;
                width: 200px;
                padding: 2px 6px;
                box-sizing: border-box;
                border: 2px solid #555555;
                border-radius: 3px;
            }
        </style>
    </head>
    <body>
        <p><a href="/Home/Index" class="btn btn-primary btn-lg">Go Back &laquo;</a></p><br>
        <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p><br>

       
        <table border="1" style="margin: 0px auto; text-align:center; vertical-align: middle" width="1000" id="calendartable">
            <thead>
                <tr>
                    <th colspan="7">
                        <center><h1>Calendar</h1></center>
                    </th>
                </tr>
            </thead>
            <tr>
                <th class="not_mapped_style" style="text-align:center">
                    Sunday
                </th>
                <th class="not_mapped_style" style="text-align:center">
                    Monday
                </th>
                <th class="not_mapped_style" style="text-align:center">
                    Tuesday
                </th>
                <th class="not_mapped_style" style="text-align:center">
                    Wednesday
                </th>
                <th class="not_mapped_style" style="text-align:center">
                    Thursday
                </th>
                <th class="not_mapped_style" style="text-align:center">
                    Friday
                </th>
                <th class="not_mapped_style" style="text-align:center">
                    Saturday
                </th>
            </tr>
            @for (var y = 1; y < 6; y++)
            {
            <tr>
                
                @for (var i = 1; i < 8; i++)
                {
                        <td>
                        @foreach (var Day in Model)
                        {

                            if (Day.dayNum() == i)
                            {
                                @Day.fname <span> </span> @Day.lname  <br />
                            }
                        }
                        </td>
                }
                </tr>
            }
</table>
    </body>
</html>
}

