@model IEnumerable<HopeTherapy.Models.Day>
@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Action", "Controller", FormMethod.Post))
{


    <html>
    <head>
    </head>
    <body>
        <center><h1>Calendar</h1></center>
        <table border="1" style="margin: 0px auto;" id="Calendar" >
            <tr>
                <th>
                    Sunday
                </th>
                <th>
                    Monday
                </th>
                <th>
                    Tuesday
                </th>
                <th>
                    Wednesday
                </th>
                <th>
                    Thursday
                </th>
                <th>
                    Friday
                </th>
                <th>
                    Saturday
                </th>
            </tr>
            <tr>
                
                @for (var i = 1; i < 8; i++)
                    {
                        <td>
                        @foreach (var Day in Model)
                        {

                            if (Day.dayNum() == i)
                            {
                                @Day.fname  @Day.lname <br />
                            }
                        }
                        </td>
                    }
                </tr>

</table>
    </body>
</html>
}

