@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
</head>

    <body>
        <div>
            <h1 align="center">Hope Therapy</h1>
            <p align="center" class="lead">Hope Therapy IMS Dashboard</p>
            @if (Request.IsAuthenticated)

            {

                <table width="300" height="300">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <p style="font-size:30px">Welcome User</p>
                            </th>

                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <p><a href="/Volunteer/Index" class="btn btn-primary btn-lg">Add Volunteer &raquo;</a></p>
                        </td>
                        <td>
                            <p><a href="/Donor/Index" class="btn btn-primary btn-lg">Add Donor &raquo;</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          
                            <p><a href="/Volunteer/List" class="btn btn-primary btn-lg">View Volunteers &raquo;</a></p>
                        </td>
                        <td colspan="2">
                            <p align="center"><a href="/Donor/List" class="btn btn-primary btn-lg">View Donors &raquo;</a></p>
                        </td>
                    </tr>
                    <tr>
                        @*<td>
                            <p><a href="/Calendar/Index" class="btn btn-primary btn-lg">Calendar &raquo;</a></p>
                        </td>*@
                        <td colspan="2">
                            <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>
                        </td>
                    </tr>
                </table>
            }
            else
            {
                <p><a href="/User/Login" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
                <p><a href="/Register/Index" class="btn btn-primary btn-lg">Register &raquo;</a></p>
            }

        </div>
    </body>
