@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        textarea {
            width: 40%;
            height: 90px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #555555;
            border-radius: 6px;
            background-color: white;
            font-size: 16px;
            resize: none;
        }
    </style>

    <style>
        .button {
            background-color: white;
            color: black;
            border: 2px solid #555555;
            border-radius: 6px;
            font-size: 24px;
            padding: 2px 8px;
        }

            .button:hover {
                background-color: #555555;
                color: white;
            }
    </style>

    <style>
        input[type=text] {
            height: 30px;
            width: 200px;
            padding: 2px 6px;
            box-sizing: border-box;
            border: 2px solid #555555;
            border-radius: 3px;
        }
    </style>
    </head>

    <body>
        <div>
            <h1 align="center">Hope Therapy</h1>
            <p align="center" class="lead">Hope Therapy IMS Dashboard</p>
            @if (Request.IsAuthenticated)

            {

                <table width="300" height="300">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <p style="font-size:30px">Welcome @Html.Encode(User.Identity.Name)</p>
                            </th>

                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <p><a href="/Volunteer/Index" class="btn btn-primary btn-lg">Volunteers &raquo;</a></p>
                        </td>
                        <td>
                            <p><a href="/Donor/Index" class="btn btn-primary btn-lg">Donors &raquo;</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><a href="/Calendar/Index" class="btn btn-primary btn-lg">Calendar &raquo;</a></p>
                        </td>
                        <td>
                            <p><a href="/Donor/List" class="btn btn-primary btn-lg">View Donors &raquo;</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><a href="/Volunteer/List" class="btn btn-primary btn-lg">View Volunteers &raquo;</a></p>
                        </td>
                        <td>
                            <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>
                        </td>
                    </tr>
                </table>
            }
            else
            {
                <p><a href="/User/Login" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
                <p><a href="/Register/Index" class="btn btn-primary btn-lg">Register &raquo;</a></p>
            }

        </div>
    </body>
