@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Hope Therapy</h1>
    <p class="lead">Hope Therapy IMS Dashboard</p>
    <p><a href="/User/Login" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
    <p><a href="/Register/Index" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

