@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Hope Therapy</h1>
    <p class="lead">Hope Therapy IMS Dashboard</p>
    <p><a href="" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
</div>

