@model List<HopeTherapy.Models.Donor>
@{
    ViewBag.Title = "DEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
</head>
<body>
    <br />
    <p><a href="/Donor/List" class="btn btn-primary btn-lg">Go Back &laquo;</a></p>
    <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>

    <center><h1>Email Donors</h1></center>

    <center><a href="mailto: @foreach (var Donor in Model) {@Donor.emailChain()}" class="btn btn-primary btn-lg">Send Email</a></center>
    <br />
    <center>
     @if (Model.Any())
       
                 {
                     foreach (var donor in Model)
                     {
                <div class="col-sm-4" style="width:33.33%">
                    <p>@donor.EmailAddress</p>
                </div>
            }
     }
        else
        {
            <h2>Sorry, nobody in the Email list.</h2>
        }
    </center>
    @for (var i = 0; i < (int)Math.Ceiling((double)Model.Count / 3); i++)
        {
            <br />
        }
    @if (Model.Count % 3 != 0)
    {
       <br />
    }

</body>
</html>