@model HopeTherapy.Models.VolunteerSearch

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{


    <html>
    <head>
    </head>

    <body>
        <center><h1>Volunteer Search</h1></center>

        <form>
            <fieldset>
                <legend>Volunteer Search:</legend>

                Search by Last name:<br>
                <input type="text" name="lastname"><br><br>

                Search by County:<br>
                <input type="text" name="county"><br><br>

                Search by Email:<br>
                <input type="text" name="email"><br><br><br>

                <button type="submit" class="btn btn-default">Search</button>
            </fieldset>
        </form>

    </body>
</html>
}
