@import url(http://fonts.googleapis.com/css?family=Patua+One|Open+Sans);
body {
    background-color: #6a5750;
    padding-top: 50px;
    padding-bottom: 20px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: #b5a397;
    font-family:Georgia;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
  /*max-width: 280px;*/
}

.field-validation-error{
    color: #935347;
    font-weight: bold;
}
.body {
    background-color: whitesmoke;
    color: #999999;
    font: 14px/1.5em "Lucida Grande",Arial,sans-serif;
    margin: 20px;
    width: auto;
}
.logo {
    padding-left: 15px;
    padding-right: 15px;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


table {
  border-collapse: separate;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 1px;
  margin: 50px auto;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  background: #cac4c4;
}

thead {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

thead th {
  font-family: 'Patua One', cursive;
  font-size: 28px;
  font-weight: 400;
  color: #30231d;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 5px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY0NmY3ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRhNTU2NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646f7f), color-stop(100%, #30231d));
  background-image: -moz-linear-gradient(#646f7f, #4a5564);
  background-image: -webkit-linear-gradient(#646f7f, #4a5564);
  background-image: linear-gradient(#aa863a, #b5a397);
  border-top: 1px solid #aa863a;
}
thead th:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
thead th:last-child {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #935347;
  font-size: 26px;
  padding: 20px 20px 20px 20px;
  text-align: center;
}


tbody tr:last-child td {
  border-bottom: none;
}
tbody tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
tbody tr:last-child td:last-child {
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


tbody:hover > tr:hover td {
  text-shadow: none;
  color: #7d4627;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
a:link {
    color: #cac4c4;
}


/* visited link */
a:visited {
    color: #cac4c4;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
.btn-primary{
  color: #cac4c4;
  background-color: #935347;
  border-color: #7d4627;
}
.btn-md{
    width:125px;
}

.btn-lg{
    width:175px;
}
.btn-primary:hover{
      color: white;
      background-color: #856046;
      border-color: #7d4627;
}
.btn-primary:active{
      color: white;
      background-color: #856046;
      border-color: #7d4627;
}
.btn-primary:focus{
      color: white;
      background-color: #856046;
      border-color: #7d4627;
}
textarea {
        width: 40%;
        height: 90px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #555555;
        border-radius: 6px;
        background-color : wheat;
        font-size: 16px;
        resize: none;
    }

.button {
    color: black;
    border: 2px solid #555555;
    border-radius: 6px;
    font-size: 24px;
    padding: 2px 8px;
}

.button:hover {
    background-color: #7d4627;
    color: white;
}

.dropdown {
    position:relative;
    display:inline-block;
}

.dropdown-content {
    height: 30px;
    width: 200px;
    padding: 2px 6px;
    box-sizing: border-box;
    border: 2px solid #555555;
    border-radius: 3px;
}

.dropdown:hover {
    background-color: #555555;
    color: white;
}

input[type=text],input[type=password], input[type=date], input[type=email] {
    height: 30px;
    width: 200px;
    padding: 2px 6px;
    box-sizing: border-box;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color : wheat;
}
select{
    height: 30px;
    width: 200px;
    border: 2px solid #555555;
    background-color : wheat;
}
.alert {
    padding: 5px;
    color: white;
    opacity: 1;
    margin-bottom: 5px;
    border-radius: 15px;
    background-color: red;
}

.alert-success{
    background-color: #4CAF50;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.col{
   position:relative;
   margin:10px auto;
   display:inline-block;
}
label{
  display: inline-block;
  width: 140px;
  text-align: right;
}