@model IEnumerable<HopeTherapy.Models.Volunteer>
@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
</head>
<body>
    <br />
    <p><a href="/Volunteer/List" class="btn btn-primary btn-lg">Go Back &laquo;</a></p>
    <p><a href='@Url.Action("Logout", "User")' class="btn btn-primary btn-lg">Sign Out &raquo;</a></p>

    <center><h1>Email Volunteers</h1></center>

    <br />
    <center>
        @if (Model.Any())
        {
            <a href="mailto: @foreach (var Volunteer in Model) {@Volunteer.emailChain()}" class="btn btn-primary btn-lg">Send Email</a>
            var current = 0;
            var address = Model.ElementAt(current);
            while (address != null || Model.Count() < current)
            {
                <div class="row">
                    @for (var i = 0; i < 3; i++)
                    {
                        if (address != null)
                        {
                            <div class="col-sm-4">
                                <h2>@address.FirstName @address.LastName</h2>
                                <h3> @address.Email </h3>
                                <br /><br />
                            </div>
                            current += 1;
                            if (Model.Count() <= current)
                            {
                                address = null;
                            }
                            else
                            {
                                address = Model.ElementAt(current);
                            }
                        }


                    }
                </div>
            }
        }
        else
        {
            <h2>Sorry, nobody is in the Email list.</h2>
        }
    </center>
</body>
</html>